<h1>Steps</h1>

<table>
  <thead>
    <tr>
      <th>Info</th>
      <th>List</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @steps.each do |step| %>
      <tr>
        <td><%= step.info %></td>
        <td><%= step.list_id %></td>
        <td><%= link_to 'Edit', edit_list_step_path(@list, step) %></td>
        <td><%= link_to 'Destroy', [@list, step], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Step', new_list_step_path(@list) %> | <%= link_to 'Back to List', list_path(@list) %>
